# --- Entorno y Configuración ---
anpr_env/
venv/
.env
__pycache__/
*.py[cod]
.DS_Store

# --- Datasets ---
# Ignoramos los datos crudos y procesados (son pesados y privacidad)
dataset_combinado/
datasets/
Proyecto-Placas-*/
*.zip
Dataset-marcas/
placas_dataset/
dataset_marcas_combinado/
docs/
# --- Resultados de Entrenamiento ---
# Ignoramos logs masivos y checkpoints intermedios
runs/
output/
wandb/

# --- Documentación interna ---
docs/

# --- IDEs ---
.vscode/
.idea/

# --- Archivos Temporales Grandes ---
*.npy

# --- NOTA SOBRE MODELOS ---
# models/*.pt       -> Se suben (Son pequeños < 100MB)
# models/*.tflite   -> Se suben (Para uso inmediato)
